<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cvsu.ash.rhea.fishapp">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:layout_gravity="center_horizontal"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="FishFarms Cavite"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LearnActivity"
            android:label="Discover" />
        <activity
            android:name=".MapActivity"
            android:label="Map" />
        <activity
            android:name=".About"
            android:label="About" />
    </application>

</manifest>